body,
html {
    font-size: 100%;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
    overflow-x: hidden!important;
    font-family: Roboto, sans-serif;
}

body {
    background-color: #333333;
    position: relative;
    color: #f0f0f0;
    height: 100%;
}

nav.navbar-fixed-top {
    background-color: goldenrod;
}

nav.navbar-fixed-top .navbar-brand {
    font-family: Impact;
    font-size: 2.5rem;
    color: whitesmoke!important;
}

div.navbar-header button.navbar-toggle {
    border: none;
    background-color: transparent!important;
}

button.navbar-toggle .icon-bar {
    background-color: whitesmoke!important;
}

nav #navbar-collapse ul li a {
    color: whitesmoke;
    font-size: 1.6rem;
    -webkit-transition: 0.2s linear;
    transition: 0.2s linear;
}

nav #navbar-collapse ul li a:hover {
    background-color: darkgoldenrod;
}

nav #navbar-collapse ul li.active a {
    color: #777777;
}

#home {
    width: 100%;
    height: 100vh;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

#home div.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    z-index: -1;
}

#home div.background img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    overflow: hidden;
    font-family: 'object-fit: cover;'/*Polyfill for object-fit*/
}

#home .logo {
    text-align: center;
    position: relative;
    height: 10rem;
}
.svg-top {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 10px;
}
.svg-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 10px;
}
svg line {
	stroke-width: 20;
	stroke: goldenrod;
	fill: none;
	stroke-dasharray:1000;
    stroke-dashoffset:0;
}

#home .logo h1 {
    padding: 0;
    margin: 0;
    font-size: 10rem;
    line-height: 100%;
    font-family: Impact;
    color: goldenrod;
}

#home h5 {
    font-size: 2.6rem;
    font-weight: normal;
}

#sobre {
    position: relative;
    height: 25rem;
    padding: 1rem;
    background-color: #333333;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

#sobre::after {
    content: '';
    position: absolute;
    width: 100px;
    height: 100px;
    left: 50%;
    -webkit-transform: translateX(-50%)rotate(45deg);
    transform: translateX(-50%)rotate(45deg);
    bottom: -50px;
    z-index: 10;
    background-color: inherit;
}
#sobre h2{
    font-size: 3em;
    margin-bottom: 20px;
    font-family: 'Roboto';
}
#sobre p {
    max-width: 50rem;
    text-align: center;
    font-size: 1.6em;
    color: #f5f5f5;
    font-family: Quicksand;
    z-index: 11;
}

.swiper-container {
    position: relative;
    padding-top: 160px;
    background-color: #222222;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide img {
    max-width: 100%;
    height: auto;
}

.social-stuff {
    height: 200px;
    background-color: powderblue;
    width: 100%;
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.social-stuff::after {
    content: '';
    position: absolute;
    width: 100px;
    height: 100px;
    left: 50%;
    -webkit-transform: translateX(-50%)rotate(45deg);
    transform: translateX(-50%)rotate(45deg);
    bottom: -150px;
    z-index: -1;
    background-color: #333333;
}

div#cardapio {
    padding: 50px 15px 0 15px;
    width: 100%;
    max-width: 1212px;
    margin: auto;
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    -webkit-column-gap: 30px;
    -moz-column-gap: 30px;
    column-gap: 30px;
}

div#cardapio>div {
    display: inline-block;
    width: 100%;
}

div#cardapio h3 {
    font-size: 1.5rem;
}

div#cardapio .divider {
    background: none;
    border-top: 2px rgba(218, 165, 32, 0.67) dashed;
}

[class|=cardapio] {
    background-color: #222222;
    padding: 20px;
    margin-bottom: 30px;
}

[class|=cardapio] ul {
    border-left: 1px goldenrod solid;
    list-style: none;
}

[class|=cardapio] h2 {
    text-align: center;
    font-family: quicksand;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 3rem;
    margin-bottom: 50px;
}

#contato {
    /*background-color: inherit;*/
    max-height: 750px;
    overflow: hidden;
    background-color: antiquewhite;
}

.mapa {
    display: block;
    height: 400px;
}

.endereco {
    height: 350px;
    margin: auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.endereco h2 {
    text-align: center;
    font-size: 2em;
}

footer {
    height: 100px;
    background-color: antiquewhite;
}

@media screen and (min-width:481px) and (max-width:750px) {
    #home .logo {
        height: 7rem;
    }
    #home .logo .bordas {
        border-top: 0.4rem solid goldenrod;
        border-bottom: 0.4rem solid goldenrod;
    }
    #home .logo h1 {
        font-size: 7rem;
    }
    #home h5 {
        font-size: 1.82rem;
    }
}

@media screen and (max-width:500px) {
    #home .logo {
        height: 4rem;
    }
    #home .logo .bordas {
        border-top: 0.2rem solid goldenrod;
        border-bottom: 0.2rem solid goldenrod;
    }
    #home .logo h1 {
        font-size: 4rem;
    }
    #home h5 {
        font-size: 1.04rem;
    }
    div#sobre {
        height: 18rem;
    }
    div#sobre h2 {
        font-size: 2rem;
    }
    div#sobre p {
        font-size: 1rem;
    }
    div#sobre::after{
        display: none;
    }
    .swiper-container{
        padding-top: .625rem;
    }
    .social-stuff{
        -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    }
    .social-stuff btn {
        width: 50px;
    }
}

@media (max-width:767px) {
    div#cardapio {
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
    }
    #navbar-collapse ul li {
        text-align: center;
    }
    div#sobre h2 {

    }
}
